{% extends "bootstrap/base.html" %}

{% block title %}CrowdControl{% endblock %}

{% block head %}
{{ super() }}

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />

{% endblock %}

{% block styles %}
{{ super() }}

<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet" />
<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/css/toastr.min.css" rel="stylesheet" />

<link href="{{ url_for('static', filename='css/dashboard.css') }}" rel="stylesheet" />

{% endblock styles %}

{% block navbar %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CrowdControl</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated() %}
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }} <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                  </ul>
              </li>
          {% endif %}
      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
          <li><a href="{{ url_for('admin.index') }}">Dashboard</a></li>
          <li><a href="{{ url_for('admin.pages') }}">Pages</a></li>
          <li><a href="{{ url_for('admin.blog_posts') }}">Blog Posts</a></li>
          <li><a href="{{ url_for('admin.blog_categories') }}">Blog Categories</a></li>
          <li><a href="{{ url_for('admin.menus') }}">Menus</a></li>
          <li><a href="{{ url_for('admin.users') }}">Users</a></li>
          <li><a href="{{ url_for('admin.site_settings') }}">Site Settings</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

    <!-- 3rd Party Libs -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.2/js/toastr.min.js"></script>


    {% if js %}
        <!-- Start the app -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js"></script>
        <script type="text/javascript">
            require(['/static/js/admin/{{ js }}.js'], function(vm){
                if (_.isFunction(vm)) {
                    vm = new vm();
                } else {
                    toastr.error("Unable to load page. Please refresh and try again.");
                }

                if (vm !== null && vm.canActivate()) {
                    vm.activate();
                }

                ko.applyBindings(vm);
            });
        </script>
    {% endif %}
{% endblock %}
